{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="iframe-container">
  <iframe class="iframe-content" style="border:0 ;" width="100%" height="403" scrolling="no" src="http://200.66.75.35/Home/SearchCustomerService"></iframe>
</div>
{% endblock %}