<nav class="navbar {% if section != 'index' %} navbar-scroll {% endif %}">
  <a href="index.html">
    <div class="navbar-logo-container">
      <img class="navbar-logo" src="img/logos/logo-white.png" alt="Sic navbar logo">
      <img class="navbar-logo-scroll {% if section != 'index' %} show-icon {% endif %}" src="img/logos/logo-blue.png" alt="Sic navbar logo blue">
    </div>
  </a>
  <div class="navbar-sections-container">
    <div class="navbar-sections-content">
      <button class="barlow-bold fs-14 navbar-sections-title open-dropdown {% if section != 'index' %} navbar-sections-scroll {% endif %}" onclick="myFunction()">EMPRESA
        <div class="navbar-dropdown-icon-container">
          <img class="navbar-dropdown-icon" src="img/icons/icon-dropdown.png">
          <img class="navbar-dropdown-icon-scroll {% if section != 'index' %} show-icon {% endif %}" src="img/icons/icon-dropdown-blue.png">
        </div>
      </button>
      <div id="myDropdown" class="dropdown-content">
        <a href="quienes-somos.html">
          <span class="barlow-bold fs-14">QUIÉNES SOMOS</span>
        </a>
        <a href="reconocimientos.html">
          <span class="barlow-bold fs-14">RECONOCIMIENTOS</span>
        </a>
      </div>
    </div>
    <div class="navbar-sections-content">
      <a href="">
        <span class="barlow-bold fs-14 navbar-sections-title {% if section != 'index' %} navbar-sections-scroll {% endif %}">SOLUCIONES</span>
      </a>
    </div>
    <div class="navbar-sections-content">
      <button class="barlow-bold fs-14 navbar-sections-title open-dropdown {% if section != 'index' %} navbar-sections-scroll {% endif %}" onclick="myFunction2()">CONTACTO
        <div class="navbar-dropdown-icon-container">
          <img class="navbar-dropdown-icon" src="img/icons/icon-dropdown.png">
          <img class="navbar-dropdown-icon-scroll  {% if section != 'index' %} show-icon {% endif %}" src="img/icons/icon-dropdown-blue.png">
        </div>
      </button>
      <div id="myDropdown2" class="dropdown-content">
        <a href="quienes-somos.html">
          <span class="barlow-bold fs-14">DÓNDE ESTAMOS</span>
        </a>
        <a href="contacto.html">
          <span class="barlow-bold fs-14">CONTÁCTANOS</span>
        </a>
      </div>
    </div>
    <div class="navbar-sections-content">
      <a href="">
        <span class="barlow-bold fs-14 navbar-sections-title {% if section != 'index' %} navbar-sections-scroll {% endif %}">COTIZA</span>
      </a>
    </div>
    <div class="navbar-separator"></div>
    <div class="navbar-lang-container">
      <div class="navbar-lang-content">
        <a href="">
          <span class="barlow-bold fs-14 navbar-sections-title {% if section != 'index' %} navbar-sections-scroll {% endif %}">ES</span>
        </a>
      </div>
      <div class="navbar-lang-content">
        <a href="">
          <span class="barlow-bold fs-14 navbar-sections-title {% if section != 'index' %} navbar-sections-scroll {% endif %}">EN</span>
        </a>
      </div>
    </div>
    <div class="navbar-flag-container">
      <button class="barlow-bold fs-14 navbar-sections-title open-dropdown" onclick="myFunction3()">
        <div class="navbar-flag-content">
          <img class="navbar-flag navbar-sections-title" src="img/icons/icon-flag-mx.png">
        </div>
        <div class="navbar-dropdown-icon-container">
          <img class="navbar-dropdown-icon" src="img/icons/icon-dropdown.png">
          <img class="navbar-dropdown-icon-scroll  {% if section != 'index' %} show-icon {% endif %}" src="img/icons/icon-dropdown-blue.png">
        </div>
      </button>
      <div id="myDropdown3" class="dropdown-content">
        <a href="">
          <img class="navbar-flag navbar-sections-title" src="img/icons/icon-flag-col.png">
        </a>
        <a href="">
          <img class="navbar-flag navbar-sections-title" src="img/icons/icon-flag-arg.png">
        </a>
        <a href="">
          <img class="navbar-flag navbar-sections-title" src="img/icons/icon-flag-chi.png">
        </a>
      </div>
    </div>
  </div>

  <div data-attribute="" class="navbar-hamburguer-visibility"  id="hamburgerMenu">
    <div class="navbar-hamburguer" data-attribute="">
      <img class="navbar-hamburger-icon" src="img/icons/hamburger-menu.png" data-attribute="">
      <img class="navbar-hamburger-icon-scroll" src="img/icons/hamburger-menu-blue.png" data-attribute="">
    </div>
  </div>
  <div class="hamburger-menu-container" id="menuContainer" data-attribute="">
    <div class="hamburger-menu-header" data-attribute="">
      <div class="" data-attribute="">
        <a href="" data-attribute="">
          <img class="hamburger-logo" src="img/logos/logo-white.png" data-attribute="" alt="logo SIC hamburger">
        </a>
      </div>
      <div class="hamburger-close-container" id="hideHamburger">
        <img class="hamburger-close" src="img/icons/close-menu.png">
      </div>
    </div>
    <div class="hamburger-menu-body" data-attribute="">
      <div class="navbar-sections-content">
        <span class="barlow-bold fs-14 open-dropdown" onclick="myFunctionHamburger()" data-attribute="">EMPRESA</span>
        <div class="navbar-dropdown-icon-container">
          <img class="navbar-dropdown-icon" src="img/icons/icon-dropdown.png">
          <img class="navbar-dropdown-icon-scroll" src="img/icons/icon-dropdown-blue.png">
        </div>
        <div id="myDropdownHamburger" class="dropdown-content">
          <a href="quienes-somos.html">
            <span class="barlow-bold fs-14">QUIÉNES SOMOS</span>
          </a>
          <a href="reconocimientos.html">
            <span class="barlow-bold fs-14">RECONOCIMIENTOS</span>
          </a>
        </div>
      </div>
      <div class="navbar-sections-content" data-attribute="">
        <a href="" data-attribute="">
          <span class="barlow-bold fs-14">SOLUCIONES</span>
        </a>
      </div>
      <div class="navbar-sections-content">
        <span class="barlow-bold fs-14 open-dropdown" onclick="myFunction2Hamburger()" data-attribute="">CONTACTO</span>
        <div class="navbar-dropdown-icon-container">
          <img class="navbar-dropdown-icon" src="img/icons/icon-dropdown.png">
          <img class="navbar-dropdown-icon-scroll" src="img/icons/icon-dropdown-blue.png">
        </div>
        <div id="myDropdown2Hamburger" class="dropdown-content">
          <a href="quienes-somos.html">
            <span class="barlow-bold fs-14">DÓNDE ESTAMOS</span>
          </a>
          <a href="contacto.html">
            <span class="barlow-bold fs-14">CONTÁCTANOS</span>
          </a>
        </div>
      </div>
      <div class="navbar-sections-content" data-attribute="">
        <a href="" data-attribute="">
          <span class="barlow-bold fs-14">COTIZA</span>
        </a>
      </div>
      <div class="navbar-separator"></div>
      <div class="navbar-lang-container">
        <div class="navbar-lang-content" data-attribute="">
          <a href="" data-attribute="">
            <span class="barlow-bold fs-14">ES</span>
          </a>
        </div>
        <div class="navbar-lang-content" data-attribute="">
          <a href="" data-attribute="">
            <span class="barlow-bold fs-14">EN</span>
          </a>
        </div>
      </div>
      <div class="navbar-flag-container">
        <div class="navbar-flag-content">
          <img class="navbar-flag open-dropdown" src="img/icons/icon-flag-mx.png" onclick="myFunction3Hamburger()" data-attribute="">
        </div>
        <div class="navbar-dropdown-icon-container">
          <img class="navbar-dropdown-icon" src="img/icons/icon-dropdown.png">
          <img class="navbar-dropdown-icon-scroll" src="img/icons/icon-dropdown-blue.png">
        </div>
        <div id="myDropdown3Hamburger" class="dropdown-content">
          <a href="">
            <img class="navbar-flag navbar-sections-title" src="img/icons/icon-flag-col.png">
          </a>
          <a href="">
            <img class="navbar-flag navbar-sections-title" src="img/icons/icon-flag-arg.png">
          </a>
          <a href="">
            <img class="navbar-flag navbar-sections-title" src="img/icons/icon-flag-chi.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
